<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350516041508-11h270iqijk3jam63cutevkqfskgu4va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350516041508-11h270iqijk3jam63cutevkqfskgu4va</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>350516041508-g44urfua26l70rdcc2ouelcv26bpe3de.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6syQlLS5SHYZsLVToApJ5bVIjAtV4QP0</string>
	<key>GCM_SENDER_ID</key>
	<string>350516041508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.porcicultura</string>
	<key>PROJECT_ID</key>
	<string>porcino-44a0f</string>
	<key>STORAGE_BUCKET</key>
	<string>porcino-44a0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350516041508:ios:07e851c2b4bf3996cb05b1</string>
</dict>
</plist>